* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ececf1;
    font-size: 62.5%;
}

.curiosidades {
    width: 100%;
    padding: 20px;
    height: 500px;
    
}

.curiosidades h2 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    text-align: center;
}

.curiosidades ol {
    padding-left: 20px;
}

.curiosidades li {
    font-size: 1.4rem;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}